
body {
    background-color: #0000;
    margin:0;
    padding: 0;
  
}
/******************FOR MOBILE******************/

@media only screen  and (min-width:0px) and (max-width: 320px) {
    .SECTION-ONE {
        width:100%;
        height:50px;
        padding:0;
        margin:0;
    }
    
    .nav-bar { 
        border:none;
        width:100%;
        
    }
    #log-img {
        width:25px;
        height:auto;
        padding-left: 15px;
        padding-right: 15px;
        float:left;
        padding-top: 12px;
        padding-bottom:12px
        
        
    }
    .navigation-list {
        float:right;
        text-align: center;
        padding-bottom:10px;
        display:none;
    }
    
    #ol-about{
        margin-right:30px;
        list-style-type:none;
        float:right;
    }
    
    #li-about{
        margin-right:30px;
        list-style-type:none;
        float:left;
    }
    
    a{
        text-decoration:none;
        color:gray;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }
    /*********** section two *****************/
    .SECTION-TWO{
        width:100%;
        height:auto;
    }
    
    #img-2{
        width:100%;
        height: auto;
    }
    /***********section about-us********************/
    .SECTION-THIRD {
        width:100%;
        margin:0;
        padding-top:0; 
    }
    .sec-1 {
        height:150px;
        width:100%;
        background-color:#f0f0f0;
    }
    #aboutus{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin:0;
        padding:0;
        padding-top: 50px;
    }
    #aboutus-line{
        width:38px;
        border:2px solid #ffbb00;
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;
        margin-bottom:20px;
    }
    .sec-2 {
        height:;
        width:100%;
        background-color:#f0f0f0;
        margin:0;
        padding:0;
        
    }
    #para-aboutus{
        font-family:Arial, Helvetica, sans-serif;
        margin-left:20px;
        margin-right:20px;
        text-align: justify;
        width:280px;
        font-size:15px;
        color:gray;
        letter-spacing: 2px;
        line-height: 1.5;
        font-weight: 400px;
    }
    /****************************SECTION FOUR***************************/
    .SECTION-FOUR{
        width:100%;
        height:auto;
        margin:0;
        padding:0;
        
    }
    
    .sec-3{
        border:0px solid black;
        height:auto;
        width:100%;
        margin:0;
        padding:0;
        
    }
    
    #Experitise{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin-left: auto;
        margin-right: auto;
        padding-top:50px;
    }
    #experities-line{
        width:38px;
        border:2px solid #ffbb00;
        margin-top:-20px;
        text-decoration-line: center;
    }
    progress{
        height: .3em;
        width: 85%;
        border: none;
        border-radius: 5px;
        margin-top: 35px;
        margin-left:20px;
        margin-right:20px;
        
        
    }
    small{
        
        font-family:Arial, Helvetica, sans-serif;
        color:gray;
        margin-left:20px;
        margin-right:20px;
    }
    progress:after{
        content: attr(data-label);
        font-size: 0.8em;
        vertical-align: 0; 
        padding-left: 200px;
        margin-left:20px;
        margin-right:20px;
    }
    .sec-4{
        height:auto;
        width:60%;
        margin:0;
        padding:0;
        
    }
    
    #para-experities{
        font-family:Arial, Helvetica, sans-serif;
        margin-left:20px;
        padding-right:20px;
        text-align: justify;
        width:280px;
        font-size:15px;
        color:gray;
        letter-spacing: 2px;
        line-height: 1.5;
        font-weight: 400px;
        padding-top: 30px;
        
    }
}

/******************FOR MOBILE-M-375******************/

@media only screen  and (min-width:321px) and (max-width: 375px) {
    .SECTION-ONE {
        width:100%;
        height:50px;
        padding:0;
        margin:0;
        
    }
    .nav-bar {
        border:none;
        height:100%;
        width:100%; 
    }
    #log-img {
        height:auto;
        width:25px;
        padding-left: 15px;
        padding-right: 15px;
        float:left;
        padding-top: 12px;
        padding-bottom:12px
        
        
    }
    .navigation-list {
        float:right;
        text-align: center;
        padding-bottom:10px;
        display:none;
    }
    
    #ol-about{
        margin-right:30px;
        list-style-type:none;
        float:right;
    }
    
    #li-about{
        margin-right:30px;
        list-style-type:none;
        float:left;
    }
    
    a{
        text-decoration:none;
        color:gray;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }
    .SECTION-TWO{
        width:100%;
        height:auto;
    }
    
    #img-2{
        width:100%;
        height: auto;
    }
    /***********section about-us********************/
   /* .SECTION-THIRD {
        width:100%;
        height:300px;
        background-color:#f0f0f0;
        margin:0;
        padding-top:0; 
    }
    .sec-1 {
        height:100%;
        width:100%;
    }
    #aboutus{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin:0;
        padding:0;
        padding-top: 20px;
    }
    #aboutus-line{
        width:38px;
        border:2px solid #ffbb00;
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;
        margin-bottom:20px;
    }/*
    /***********section about-us********************/
    .SECTION-THIRD {
        width:100%;
        margin:0;
        padding-top:0; 
        margin-top: 0;
    }
    .sec-1 {
        height:180px;
        width:100%;
        background-color:#f0f0f0;
    }
    #aboutus{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin:0;
        padding:0;
        padding-top: 80px;
    }
    #aboutus-line{
        width:38px;
        border:2px solid #ffbb00;
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;
        margin-bottom:20px;
    }
    .sec-2 {
        height:220px;
        width:100%;
        background-color:#f0f0f0;
        
    }
    #para-aboutus{
        font-family:Arial, Helvetica, sans-serif;
        margin:auto;
        padding:auto;
        text-align: justify;
        width:330px;
        font-size:15px;
        color:gray;
        letter-spacing: 2px;
        line-height: 1.5;
        font-weight: 400px;
    }
    
    /**************SECTION FOURTH***************************/
    .SECTION-FOUR{
        width:100%;
        margin:0;
        padding:0;
        
    }
    
    .sec-3{
        height:300px;
        width:100%;
       
        
    }
    
    #Experitise{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin-left: auto;
        margin-right: auto;
        padding-top:50px;
    }
    #experities-line{
        width:38px;
        border:2px solid #ffbb00;
        margin-top:-20px;
        text-decoration-line: center;
    }
    progress{
        height: .3em;
        width: 85%;
        border: none;
        border-radius: 5px;
        margin-top: 35px;
        margin-left:30px;
        margin-right:30px;
        
        
    }
    small{
        
        font-family:Arial, Helvetica, sans-serif;
        color:gray;
        margin-left:30px;
        margin-right:30px;
    }
    progress:after{
        content: attr(data-label);
        font-size: 0.8em;
        vertical-align: 0; 
        padding-left: 200px;
        margin-left:30px;
        margin-right:30px;
    }
    .sec-4{
        height:320px;
        width:100%;
       
        
    }
    
    #para-experities{
        font-family:Arial, Helvetica, sans-serif;
        margin-left:30px;
        padding-right:30px;
        text-align: justify;
        width:310px;
        font-size:15px;
        color:gray;
        letter-spacing: 2px;
        line-height: 1.5;
        font-weight: 400px;
        padding-top: 30px;
        
    }
    
}


/******************FOR MOBILE-L-425******************/
@media only screen  and (min-width:376px) and (max-width: 425px) {
    .SECTION-ONE {
        width:100%;
        height:50px;
        padding:0;
        margin:0;
    }
    
    .nav-bar {
        border:none;
        height:100%;
        width:100%; 
    }
    #log-img {
        height:auto;
        width:25px;
        padding-left: 15px;
        padding-right: 15px;
        float:left;
        padding-top: 12px;
        padding-bottom: 12px;
        
    }
    .navigation-list {
        float:right;
        text-align: center;
        padding-bottom:10px;
        display:none;
    }
    
    #ol-about{
        margin-right:30px;
        list-style-type:none;
        float:right;
    }
    
    #li-about{
        margin-right:30px;
        list-style-type:none;
        float:left;
    }
    
    a{
        text-decoration:none;
        color:gray;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }

    /*************SECTION SECOUND****************************/
    .SECTION-TWO{
        width:100%;
        height:auto;
    }
    
    #img-2{
        width:100%;
        height: auto;
    }
    /***********section about-us********************/
    .SECTION-THIRD {
        width:100%;
        margin:0;
        padding:0; 
    }
    .sec-1 {
        height:210px;
        width:100%;
        background-color:#f0f0f0;
    }
    #aboutus{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin:0;
        padding:0;
        padding-top: 80px;
    }
    #aboutus-line{
        width:38px;
        border:2px solid #ffbb00;
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;
        margin-bottom:20px;
    }
    .sec-2 {
        height:210px;
        width:100%;
        background-color:#f0f0f0;
        
    }
    #para-aboutus{
        font-family:Arial, Helvetica, sans-serif;
        margin:auto;
        padding:auto;
        text-align: justify;
        
        width:360px;
        font-size:15px;
        color:gray;
        letter-spacing: 2px;
        line-height: 1.5;
        font-weight: 400px;
    }
    
    
    
/**************SECTION FOURTH***************************/
    .SECTION-FOUR{
        width:100%;
        margin:0;
        padding:0;
        
    }
    
    .sec-3{
        height:300px;
        width:100%;
        margin:0;
        padding:0;
        
    }
    
    #Experitise{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin-left: auto;
        margin-right: auto;
        padding-top:50px;
    }
    #experities-line{
        width:38px;
        border:2px solid #ffbb00;
        margin-top:-20px;
        text-decoration-line: center;
    }
    progress{
        height: .3em;
        width: 85%;
        border: none;
        border-radius: 5px;
        margin-top: 35px;
        margin-left:30px;
        margin-right:30px;
        
        
    }
    small{
        
        font-family:Arial, Helvetica, sans-serif;
        color:gray;
        margin-left:30px;
        margin-right:30px;
    }
    progress:after{
        content: attr(data-label);
        font-size: 0.8em;
        vertical-align: 0; 
        padding-left: 250px;
        margin-left:30px;
        margin-right:30px;
    }
    .sec-4{
        height:280px;
        width:100%;
        margin:0;
        padding:0;
       
        
    }
    
    #para-experities{
        font-family:Arial, Helvetica, sans-serif;
        margin-left:30px;
        padding-right:30px;
        text-align: justify;
        width:350px;
        font-size:15px;
        color:gray;
        letter-spacing: 2px;
        line-height: 1.5;
        font-weight: 400px;
        padding-top: 30px;
        
    }
    
    
}

/******************FOR TABLET-768******************/
@media only screen  and (min-width:426px) and (max-width: 768px) {
    .SECTION-ONE {
        width:100%; 
        height:50px;
        padding:0;
        margin:0;
        
    }
    
    .nav-bar {
        border:none;
        height:100%;
        width:100%; 
    }
    #log-img {
        height:auto;
        width:25px;
        padding-left: 15px;
        padding-right: 15px;
        float:left;
        padding-top: 12px;
        padding-bottom: 12px;
        
    }
    .navigation-list {
        float:right;
        text-align: center;
        padding-bottom:10px;
        display:none;
    }
    
    #ol-about{
        margin-right:30px;
        list-style-type:none;
        float:right;
    }
    
    #li-about{
        margin-right:30px;
        list-style-type:none;
        float:left;
    }
    
    a{
        text-decoration:none;
        color:gray;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }
    /**********************SECTION SECOUND****************************/
    .SECTION-TWO{
        width:100%;
        height:auto;
    }
    
    #img-2{
        width:100%;
        height: auto;
    }
  
    
    /***********section about-us********************/
    .SECTION-THIRD {
        width:100%;
        height:450px;
        background-color:#f0f0f0;
        margin:0;
        padding-top:0; 
    }
    .sec-1 {
        height:100%;
        width:40%;
        float:left;
    }
    #aboutus{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin:0;
        padding:0;
        padding-top: 150px;
        padding-bottom: -150px;
        
    }
    #aboutus-line{
        width:38px;
        border:2px solid #ffbb00;
        margin-left:71px;
        margin-right:auto;
        margin-top:20px;
        margin-bottom:20px;
        
    }
    
    .sec-2 {
        height:100%;
        width:60%;
        float: right;
    }
    #para-aboutus{
        font-family:Arial, Helvetica, sans-serif;
        margin-left: auto;
        margin-right:auto;
        text-align: justify;
        padding-top: 150px;
        width:350px;
        font-size:15px;
        color:gray;
        letter-spacing: 2px;
        line-height: 1.8;
        font-weight: 600px;
    }

        /**************SECTION FOURTH***************************/
        .SECTION-FOUR{
            width:100%;
            height:400px;
            margin:0;
            padding:0;
            
        }
        
        .sec-3{
          
            height:100%;
            width:40%;
            margin:0;
            padding:0;
            float:left;

            
        }
        
        #Experitise{
            text-align:center;
            font-family:Arial, Helvetica, sans-serif;
            font-size: 36px;
            margin-left: auto;
            margin-right: auto;
            padding-top:50px;
        }
        #experities-line{
            width:38px;
            border:2px solid #ffbb00;
            margin-top:-20px;
            margin-left: 35px;
        }
        progress{
            height: .3em;
            width: 75%;
            border: none;
            border-radius: 5px;
            margin-top: 35px;
            margin-left:30px;
            margin-right:30px;
           
            
            
        }
        small{
            
            font-family:Arial, Helvetica, sans-serif;
            color:gray;
            margin-left:30px;
            margin-right:30px;
        }
        progress:after{
            content: attr(data-label);
            font-size: 0.8em;
            vertical-align: 0; 
            padding-left: 170px;
            margin-left:30px;
            margin-right:30px;
        }
        .sec-4{
            
            height:100%;
            width:60%;
            margin:0;
            padding:0;
            float:right;
            
        }
        
        #para-experities{
            font-family:Arial, Helvetica, sans-serif;
            margin-left:40px;
            padding-right:40px;
            text-align: justify;
            width:330px;
            font-size:15px;
            color:gray;
            letter-spacing: 2px;
            line-height: 1.5;
            font-weight: 400px;
            padding-top: 160px;
            
        }
}


/******************FOR LAPTOP-1024******************/
@media only screen  and (min-width:769px) and (max-width: 1024px) {
    .SECTION-ONE {
        width:100%;
        height:50px;
        padding:0;
        margin:0;
    }
    
    .nav-bar {
        border:none;
        height:100%;
        width:100%; 
    }
    #log-img {
        height:auto;
        width:25px;
        padding-left: 15px;
        padding-right: 15px;
        float:left;
        padding-top: 12px;
        padding-bottom: 12px;
        
    }
    .navigation-list {
        float:right;
        text-align: center;
        padding-bottom:10px;
        
    }
    
    #ol-about{
        margin-right:30px;
        list-style-type:none;
        float:right;
    }
    
    #li-about{
        margin-right:30px;
        list-style-type:none;
        float:left;
    }
    
    a{
        text-decoration:none;
        color:gray;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }
    /***********section secound********************/  
    .SECTION-TWO{
        width:100%;
        height:auto;
    }
    
    #img-2{
        width:100%;
        height: auto;
    }
    
    /* **********section about-us*******************/
    
   
    .SECTION-THIRD {
        width:100%;
        height:430px;
        background-color:#f0f0f0;
        margin:0;
        padding:0; 
    }
    .sec-1 {
        height:100%;
        width:40%;
        float:left;
    }
    #aboutus{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin:0;
        padding:0;
        padding-top: 150px;
        padding-bottom: -150px;
        
    }
    #aboutus-line{
        width:38px;
        border:2px solid #ffbb00;
        margin-left:120px;
        margin-right:auto;
        margin-top:20px;
        margin-bottom:20px;
        
    } 
    
    .sec-2 {
        height:100%;
        width:60%;
        float: right;
    }
    #para-aboutus{
        font-family:Arial, Helvetica, sans-serif;
        margin-left: auto;
        margin-right:auto;
        text-align: justify;
        padding-top: 150px;
        width:450px;
        font-size:15px;
        color:gray;
        letter-spacing: 2px;
        line-height: 1.8;
        font-weight: 600px;
    }
 /**************SECTION FOURTH***************************/
            .SECTION-FOUR{
                width:100%;
                height:440px;
                margin:0;
                padding:0;
                
            }
            
            .sec-3{
              
                height:100%;
                width:40%;
                margin:0;
                padding:0;
                float:left;
    
                
            }
            
            #Experitise{
                text-align:center;
                font-family:Arial, Helvetica, sans-serif;
                font-size: 36px;
                margin-left: auto;
                margin-right: auto;
                padding-top:90px;
            }
            #experities-line{
                width:38px;
                border:2px solid #ffbb00;
                margin-top:-20px;
                margin-left: 88px;
            }
            progress{
                height: .3em;
                width: 85%;
                border: none;
                border-radius: 5px;
                margin-top: 35px;
                margin-left:30px;
                margin-right:30px;
               
                
                
            }
            small{
                
                font-family:Arial, Helvetica, sans-serif;
                color:gray;
                margin-left:30px;
                margin-right:30px;
            }
            progress:after{
                content: attr(data-label);
                font-size: 0.8em;
                vertical-align: 0; 
                padding-left: 240px;
                margin-left:30px;
                margin-right:30px;
            }
            .sec-4{
                
                height:100%;
                width:60%;
                margin:0;
                padding:0;
                float:right;
                
            }
            
            #para-experities{
                font-family:Arial, Helvetica, sans-serif;
                margin-left:70px;
                padding-right:70px;
                text-align: justify;
                width:450px;
                font-size:15px;
                color:gray;
                letter-spacing: 2px;
                line-height: 1.5;
                font-weight: 400px;
                padding-top: 198px;
                
            }
}

/******************FOR LAPTOP-L-1440******************/
@media only screen  and (min-width:1025px) and (max-width: 1440px) {
    .SECTION-ONE {
        width:100%;
        height:50px;
        padding:0;
        margin:0;
    }
    
    .nav-bar {
        border:none;
        height:auto;
        width:100%; 
    }
    #log-img {
        height:auto;
        width:25px;
        padding-left: 15px;
        padding-right: 15px;
        float:left;
        padding-top: 12px;
        padding-bottom: 12px;
        
    }
    .navigation-list {
        float:right;
        text-align: center;
        padding-bottom:10px;
        
    }
    
    #ol-about{
        margin-right:30px;
        list-style-type:none;
        float:right;
    }
    
    #li-about{
        margin-right:30px;
        list-style-type:none;
        float:left;
    }
    
    a{
        text-decoration:none;
        color:gray;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }

 /*****************************************SECTION SECOUND*********************/   
    .SECTION-TWO{
        width:100%;
        height:auto;
    }
    
    #img-2{
        width:100%;
        height: auto;
    }
/***********section about-us********************/
    .SECTION-THIRD {
        width:100%;
        height:500px;
        background-color:#f0f0f0;
        margin:0;
        padding-top:0; 
    }
    .sec-1 {
        height:100%;
        width:40%;
        float:left;
    }
    #aboutus{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin:0;
        padding:0;
        padding-top: 200px;
        padding-bottom: -200px;
        
    }
    #aboutus-line{
        width:38px;
        border:2px solid #ffbb00;
        margin-left:206px;
        margin-right:auto;
        margin-top:20px;
        margin-bottom:20px;
        
    }
    
    .sec-2 {
        height:100%;
        width:60%;
        float: right;
    }
    #para-aboutus{
        font-family:Arial, Helvetica, sans-serif;
        margin-left: auto;
        margin-right:auto;
        text-align: justify;
        padding-top: 200px;
        width:600px;
        font-size:15px;
        color:gray;
        letter-spacing: 2px;
        line-height: 1.8;
        font-weight: 600px;
    }

/**************SECTION FOURTH***************************/
            .SECTION-FOUR{
                width:100%;
                height:400px;
                margin:0;
                padding:0;
                
            }
            
            .sec-3{
              
                height:100%;
                width:40%;
                margin:0;
                padding:0;
                float:left;
    
                
            }
            
            #Experitise{
                text-align:center;
                font-family:Arial, Helvetica, sans-serif;
                font-size: 36px;
                margin-left: auto;
                margin-right: auto;
                padding-top:50px;
            }
            #experities-line{
                width:38px;
                border:2px solid #ffbb00;
                margin-top:-20px;
             margin-left: 169px;
               
                
            }
            progress{
                height: .3em;
                width: 75%;
                border: none;
                border-radius: 5px;
                margin-top: 35px;
                margin-left:30px;
                margin-right:30px;
               }

            small{
                
                font-family:Arial, Helvetica, sans-serif;
                color:gray;
                margin-left:30px;
                margin-right:30px;
            }
            progress:after{
                content: attr(data-label);
                font-size: 0.8em;
                vertical-align: 0; 
                padding-left: 300px;
                margin-left:30px;
                margin-right:30px;
            }
            .sec-4{
                
                height:100%;
                width:60%;
                margin:0;
                padding:0;
                float:right;
                
            }
            
            #para-experities{
                font-family:Arial, Helvetica, sans-serif;
                margin-left:140px;
                padding-right:140px;
                text-align: justify;
                width:600px;
                font-size:15px;
                color:gray;
                letter-spacing: 2px;
                line-height: 1.8;
                font-weight: 400px;
                padding-top: 155px;
                
            }

}

/******************FOR 1880******************/
/*@media only screen  and (min-width:1441px) and (max-width: 1880px) {
    .SECTION-ONE {
        width:100%;
    }
    
    .nav-bar {
        border:none;
        height:25px;
        width:100%; 
    }
    #log-img {
        height:100%;
        width:25px;
        padding-left: 15px;
        padding-right: 15px;
        float:left;
        padding-top: 12px;
        padding-bottom: 12px;
        
    }
    .navigation-list {
        float:right;
        text-align: center;
        padding-bottom:10px;
    } 
    
    #ol-about{
        margin-right:30px;
        list-style-type:none;
        float:right;
    }
    
    #li-about{
        margin-right:30px;
        list-style-type:none;
        float:left;
    }
    
    a{
        text-decoration:none;
        color:gray;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }
    .SECTION-TWO{
        width:100%;
        height:690px;
    }
    
    #img-2{
        width:100%;
        height: 100%;
    }*/
    /***********section about-us********************/
    /*.SECTION-THIRD {
        width:100%;
        height:160px;
        background-color:#f0f0f0;
        margin:0;
        padding-top:0; 
    }
    .sec-1 {
        height:100%;
        width:100%;
    }
    #aboutus{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin:0;
        padding:0;
        padding-top: 20px;
    }
    #aboutus-line{
        width:38px;
        border:2px solid #ffbb00;
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;
        margin-bottom:20px;
    }
}*/

/******************FOR 4K-2560******************/
@media only screen  and (min-width:1881px) and (max-width: 2560px) {
    .SECTION-ONE {
        width:100%;
        height:50px;
        padding:0;
        margin:0;
    }
    
    .nav-bar {
        border:none;
        height:100%;
        width:100%; 
    }
    #log-img {
        height:auto;
        width:25px;
        padding-left: 40px;
        padding-right: 40px;
        float:left;
        padding-top: 12px;
        padding-bottom: 12px;
        
    }
    .navigation-list {
        float:right;
        text-align: center;
        padding-bottom:10px;
    } 
    
    #ol-about{
        margin-right:30px;
        list-style-type:none;
        float:right;
    }
    
    #li-about{
        margin-right:30px;
        list-style-type:none;
        float:left;
    }
    
    a{
        text-decoration:none;
        color:gray;
        font-size: 21px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }
    .SECTION-TWO{
        width:100%;
        height:auto;
    }
    
    #img-2{
        width:100%;
        height: auto;
    }
    /***********section about-us********************/
    .SECTION-THIRD {
        width:100%;
        height:650px;
        background-color:#f0f0f0;
        margin:0;
        padding-top:0; 
    }
    .sec-1 {
        height:100%;
        width:40%;
        float:left;
    }
    #aboutus{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 46px;
        margin:0;
        padding:0;
        padding-top: 325px;
        padding-bottom: -325px;
        
    }
    #aboutus-line{
        width:38px;
        border:3px solid #ffbb00;
        margin-left:410px;
        margin-right:auto;
        margin-top:20px;
        margin-bottom:20px;
        
    }
    
    .sec-2 {
        height:100%;
        width:60%;
        float: right;
    }
    #para-aboutus{
        font-family:Arial, Helvetica, sans-serif;
        margin-left: auto;
        margin-right:auto;
        text-align: justify;
        padding-top: 320px;
        width:1200px;
        font-size:20px;
        color:gray;
        letter-spacing: 2px;
        line-height: 1.8;
        font-weight: 600px;
    }

    /**************SECTION FOURTH***************************/
    .SECTION-FOUR{
        width:100%;
        height:500px;
        margin:0;
        padding:0;
        
    }
   
        .sec-3{
                height:100%;
                width:40%;
                margin:0;
                padding:0;
                float:left;
    
                
            }
            
            #Experitise{
                text-align:center;
                font-family:Arial, Helvetica, sans-serif;
                font-size: 46px;
                margin-left: auto;
                margin-right: auto;
                padding-top:150px;
            }
            #experities-line{
                width:38px;
                border:3px solid #ffbb00;
                margin-top:-20px;
             margin-left: 360px;
               
                
            }
            progress{
                height: .3em;
                width: 75%;
                border: none;
                border-radius: 5px;
                margin-top: 35px;
                margin-left:30px;
                margin-right:30px;
               }

            small{
                
                font-family:Arial, Helvetica, sans-serif;
                color:gray;
                margin-left:100px;
                margin-right:100px;
            }
            progress:after{
                content: attr(data-label);
                font-size: 0.8em;
                vertical-align: 0; 
                padding-left: 590px;
                margin-left:30px;
                margin-right:30px;
            }
    progress{
        height: .3em;
        width: 70%;
        border: none;
        border-radius: 5px;
        margin-top: 40px;
        margin-left:100px;
        margin-right:100px;
       }

   
    .sec-4{
        
        height:100%;
        width:60%;
        margin:0;
        padding:0;
        float:right;
        
    }
    
    #para-experities{
        font-family:Arial, Helvetica, sans-serif;
        margin-left:150px;
        padding-right:150px;
        text-align: justify;
        width:1200px;
        font-size:20px;
        color:gray;
        letter-spacing: 2px;
        line-height: 1.8;
        font-weight: 400px;
        padding-top: 270px;
        
    }
}





/************************FOR IMAGES******************************/
