

/****
common css****/
body{
    margin: 0;
    padding: 0;
   
}

html {
    scroll-behavior: smooth;
}


/*******main css*********/
header{
    background-color:  #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
}
header .logo a img{
    width: 35px;
}


header .nav-menu ul{
    margin: 0;
    padding: 0;
}

header .nav-menu ul li{
    list-style-type: none;
    display: inline-block;
}
header .nav-menu ul li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    background-color: #f1f1f1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14;
    font-weight: 600;
    
  
}

/* unvisited link */
.nav-menu ul li a:hover {
    background-color: #5CBD9B;
    border-radius: 23px;
    color: white;
    box-shadow: 2px 2px 2px 2px #5CBD9B;
}




/**************sec-clouser****************/

.sec-clouser{
    width:100%;
}

#img-2{
    width:100%;
    height: auto;
}





/******************SEC-ABOUT-US**************** */

.container{
    width: 1100px;
    margin: auto;
    overflow: hidden;
}
.ptb-100{
    padding-top: 100px;
    padding-bottom: 100px;
   
}

.left-area{
    width: 45%;
    float: left;
}
.right-area{
    width: 55%;
    float: left;
}

.sec-about-us{
    background-color: #f1f1f1;
    
}

h1{
    font-size: 30px;
    font-family: sans-serif; 
}

#about-hr{
    border: 2px solid #F6B813;
    width: 42px;
    margin-left: -1px;
    
}
#para-aboutus{
    font-family: sans-serif;
    font-size: 13px;
    color: lightslategray;
    letter-spacing: 2px;
    line-height: 1.8;
    font-weight: 600px;
    text-align: justify;
    padding-top: 16px;
    padding-bottom: 16px;
    
}

/*************section 2************** */


.left-area{
    width: 45%;
    float: left;
}
.right-area{
    width: 55%;
    float: left;
}

#expertise-hr{
    border: 2px solid #F6B813;
    width: 42px;
    margin-left: -1px;
    
}

progress{
    height: .3em;
    width: 346px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    
}


small{
    
    font-family:Arial, Helvetica, sans-serif;
    color:gray;
    padding-right: 157px;
}

progress:after{
    content: attr(data-label);
    font-size: 0.8em;
    vertical-align: 0;
    padding-left: 270px; 
}


/* Chrome */
progress::-webkit-progress-value {
    background: rgb(92, 89, 89);
}

#para-expertise{
    font-family: sans-serif;
    font-size: 13px;
    color: lightslategray;
    letter-spacing: 2px;
    line-height: 1.8;
    font-weight: 600px;
    text-align: justify;
    padding-top: 91px;
    padding-bottom: 91px;
    
}
/******************* section-3************* */


.left-area-google-plus{
    width: 33.33%;
    float: left;
    
}


h2{
    font-size: 15px;
    font-family: sans-serif; 
    color:gray;
    margin-top: -28px;
    margin-left: 100px;
} 


#google-plus{
    height:auto;
    width:40px;
    padding-left: 30px;
    padding-right: 30px;
        
}




#para-google{
    font-family: sans-serif;
    font-size: 13px;
    color: lightslategray;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 600px;
    text-align: justify;
    width: 200px;
    padding: 10px 100px 10px 100px;
    
    
}

/******************** section-banner************** */


.left-area-banner{
    width: 55%;
    float: left;
}
.right-area-banner{
    width: 45%;
    float: left;
}

.sec-baner{
    display:flex;
    background-color: #f1f1f1;
}


#banner-one{
    height:auto;
    width:100%;    
}



#heading-letsmake{
    font-size:36px;
    color:#000000;
    padding-top: 130PX;
    padding-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#line-letsmake{
    width:38px;
    border:2px solid #ffbb00;
    margin-top:40px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 100px;
}


#para-letsmake{
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;                                                     
    text-align: justify;
    padding-top: 40PX;
    padding-bottom: 40px;
    margin-left: 150px;
    margin-right: 150px;
    font-size:14px;
    color:gray;
    letter-spacing: 2px;
    line-height: 1.8;
    font-weight: 600px;
    width:300px;
} 


/* section-portfolio */

.portfolio{
    background-color:  white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 30px 0px 0 0; */
}

h1{
    font-size: 30px;
    font-family: sans-serif; 
    padding: 30px 0px 0 0;
}

#portfolio-hr{
    border: 2px solid #F6B813;
    width: 42px;
    margin-left: -1px;
    
}


.portfolio ul{
    margin: 0;
    padding: 0;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;    
}

.portfolio ul li{
    list-style-type: none;
    display: inline-block;
}
.portfolio ul li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 35px 5px 35px 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14;
    font-weight: 600;
    color:gray;
    
}

/* unvisited link */
.portfolio ul li a:hover {
   
    color: #5CBD9B;
}


/**************** section-boxes********** */
.boxes{
    background-color: white;
    min-height: 100px;
    overflow: hidden;
}

.item-1{
    border:5px solid white ;
    height: 318px;
    width: 318px;
    float:left;
    background-color:  #f1f1f1;
}


/********** viewport******** */
.sec-viewport{
    overflow: hidden;   
    background-color: #f1f1f1;
}

.sec-viewport .container {
    text-align: center;
   
}
#btn{
    height:50px; 
    width:300px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:gray;
    border:0px solid gray;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 20px;
    box-shadow: 5px 3px 5px 3px #dfd7d7;
    font-weight: 700px;
}

#btn:hover{
    background-color: #5CBD9B;
    color: white;
    font-weight: 700px;
}



/***********section-paragraph*******/

.sec-para .container{
    text-align: center;
}
#para-sec{
    font-family:Arial, Helvetica, sans-serif;
    color:gray;
    letter-spacing: 2px;
    line-height: 1.8;
    font-weight: 600px;
    width:50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 135px;
    padding-bottom: 135px;
}

#barry-allen{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color:gray;
    padding-top: -100px;
    width:100%;
    
    
}

/* *******section-clouser****** */

.sec-banner{
    width:100%;
}

#banner-img{
    height:auto;
    width:100%;
    
}

/* ***********section-number ***********/

.list-number{
    width:100%;
    float:left;
    text-decoration: none;
    text-align:center;
    padding: 50px 0 50px;
    
}

#ul-num{
    font-family:cursive;
}

#li-num{
    float:left;
    text-align:center;
    list-style-type: none;
    font-size:50px;
    padding: 35px 88px 35px 88px;
}

#web{
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    color:#0e5beb;
}

/*******section-clouser****/
.sec-clouser{
    width:100%;   
}

#clouser-img{
    width:100%;
    height:auto;
}


/***************section-our-team**********/



#heading-ourteam{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 36px;    
}


#ourteam-hr{
    border: 2px solid #F6B813;
    width: 42px;
    margin-left: -1px;    
}



.sec-user{
    overflow: hidden;
}


#user-1{
    width: 33%;
    float: left;
}
#user-1 .inner_user{
    padding: 10px;
}



#user-img{
    /* height:100%; */
    width:100%;    
}

#barry-1{
     font-family:Arial, Helvetica, sans-serif; 
    color: gray;
    font-size: 15px;
    padding: 10px 135px 10px 135px;;
    display:block;
    
}

#ceo{
    color:gray;
    padding: 0px 158px;
    display:block;
}


/* **********section-pricing**************/

.sec-pricing-plans{
    background-color: #f1f1f1;
    
}

#heading-pricing{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 36px;
    
    
}


#pricing-hr{
    border: 2px solid #F6B813;
    width: 42px;
    margin-left: -1px;
    
}

.pricing-card{
    
    padding-top: 90px;
    padding-bottom: 90px;
    
}


#card-1{
    height:550px;
    width:300px;
    border:none;
    float:left;
    border-radius: 1px;
    background-color: white;
    margin: 33px;
    box-shadow: 5px 10px 8px 10px #f1f1f1;
    /* background-color: #5CBD9B; */   
}
#card-1:hover{
   
   box-shadow: 2px 3px 2px 3px #5CBD9B;
   border-radius: 8px;
}

h5{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:15px;
    padding-left: 20px;
    padding-right: 20px;
}

#doller{
    font-size:20px;
    
}

#num{
    font-size:75px;
    font-family:Arial, Helvetica, sans-serif; 
}

#month{
    font-size:17px;
    color:gray;
    font-family:Arial, Helvetica, sans-serif; 
}



.h-1{
    text-align: center;
}


table{
    
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 50px;   
}


tr,td{
    color:gray;
    display: table;
    margin: 0px 44px auto;
    padding: 3px 3px 3px 3px;
}


#btn-1{
    height: 30px;
    width: 181px;
    margin: 40px 59px 39px 59px;
    color:gray;
    border:0px solid gray;
    border-radius: 5px;
    background-color: #5CBD9B;
    color:white;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 5px 3px 5px 3px #dfd7d7;
}

#btn-1:hover{
    background-color: #5CBD9B;
    color: white;
}

/************sec-get-in-touch*********/
.sec-get-in-touch{
    height:750px;
    width:100%;
}


.left-area.getintouch{
    width: 50%;
    float: left;
}
.right-area.getintouch{
    width: 50%;
    float: left;
   
}


#heading-getintouch{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 36px;
    padding-top: 100px;
    padding-left: 100PX;
    padding-right: 100px;
    /* margin: auto; */
    
    
}

#getintouch-hr{
    width:38px;
    border:2px solid #ffbb00;
    margin-top:-20px;
    margin-bottom:20px;
    margin-left: 100px;
    margin-right: 100px;

}




.login{
    border: 0px solid black;
    height:400px;
    width:400px;
    margin-left: 100px;
    margin-right:100px;
    padding: 50px 0 50px 0;
}


.placeholder{
    color:#E6E3E3;
    
}


input{
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    color:#E6E3E3;
}

textarea{
    width: 100%;
    padding: 70px 20px;
    margin: 8px 0PX;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}


button{
    background-color: black;
    color: white;
    border: 0px solid black;
    height: 30px;
    width: 200px;
    font-size: 14px;
}

button:hover{
    color:white;
    font-weight: 600px;
    background-color:#5CBD9B;
    box-shadow: 5px 10px 8px 10px #f1f1f1;
}



/*********section-footer***********/

.sec-footer{
   
    height: 600px;
    width:100%;
    background-color: #333131;
}

#img-footer{
    height:80px;
    width:80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 60px;
    
}


#footer-hr{
    width:190px;
    border:2px solid #ffbb00;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    
    
}


.footer-one ul{
    list-style-type: center;
    /* padding: 20px 265px 20px 265px; */
    text-align: center;
    
    
}

.footer-one ul li{
    list-style-type: none;
    display: inline-block;
}
.footer-one ul li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 100px 14px 100px 14px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:gray;
    
}

/* unvisited link */
.footer-one ul li a:hover {
    color: #5CBD9B;
}

.footer-secound ol{
    list-style-type: center;
    /* padding: 0px 489px 0px 489px; */
    text-align: center;   
}

.footer-secound ol li{
    list-style-type: none;
    display: inline-block;
}
.footer-secound ol li a {
    color: black;
    text-decoration: none;
    display: inline-block;
  
    padding: 0px 14px 0px 14px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color:gray;
    
}

/* unvisited link */
.footer-secound ol li a:hover {
    color: #5CBD9B;
}


.number{
    text-align: center;
    font-family:"Times New Roman", Times, serif;
    font-size: 17px;
    color:gray; 
}

.email{
    text-align: center;
    color:gray;
    font-size: 17;
    font-family:"Times New Roman", Times, serif;
    padding-top: 15px; 
}




/*********section-last-footer-my-theme**********/

.sec-mytheme{
    background-color: #251E1E ;	
}

.mytheam{
    text-align: center;
    color:gray ;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family:Arial, Helvetica, sans-serif;
}