

/****
common css****/
body{
    margin: 0;
    padding: 0;
}


/*******main css*********/
header{
    background-color:  #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
}
header .logo a img{
    width: 35px;
}

header .nav-menu{
    
}
header .nav-menu ul{
    margin: 0;
    padding: 0;
}

header .nav-menu ul li{
    list-style-type: none;
    display: inline-block;
}
header .nav-menu ul li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    background-color: #f1f1f1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14;
    font-weight: 600;
}

/* unvisited link */
.nav-menu ul li a:hover {
    color: green;
  }




  /**************sec-clouser****************/

  .sec-clouser{
	width:100%;
}

#img-2{
	width:100%;
	height: auto;
}

  



/******************SEC-ABOUT-US**************** */

.container{
    width: 1100px;
    margin: auto;
    overflow: hidden;
}
.ptb-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

.left-area{
    width: 45%;
    float: left;
}
.right-area{
    width: 55%;
    float: left;
}

.sec-about-us{
    background-color: #f1f1f1;

}

h1{
    font-size: 30px;
    font-family: sans-serif; 
}

#about-hr{
    border: 2px solid #F6B813;
    width: 42px;
    margin-left: -1px;

}
#para-aboutus{
    font-family: sans-serif;
    font-size: 13px;
    color: lightslategray;
    letter-spacing: 2px;
	line-height: 1.8;
    font-weight: 600px;
    text-align: justify;
    padding-top: 16px;
    padding-bottom: 16px;

}

/*************section 2************** */


.left-area{
    width: 45%;
    float: left;
}
.right-area{
    width: 55%;
    float: left;
}

#expertise-hr{
    border: 2px solid #F6B813;
    width: 42px;
    margin-left: -1px;

}


progress{
	height: .3em;
	width: 346px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;

}


small{
	
	font-family:Arial, Helvetica, sans-serif;
    color:gray;
    padding-right: 157px;
}

progress:after{
	content: attr(data-label);
	font-size: 0.8em;
    vertical-align: 0;
    padding-left: 270px; 
}

#para-expertise{
    font-family: sans-serif;
    font-size: 13px;
    color: lightslategray;
    letter-spacing: 2px;
	line-height: 1.8;
    font-weight: 600px;
    text-align: justify;
    padding-top: 91px;
    padding-bottom: 91px;

}
/******************* section-3************* */


.left-area-google-plus{
    width: 33.33%;
    float: left;

}


h2{
    font-size: 15px;
    font-family: sans-serif; 
    color:gray;
    display: inline;
} 


#google-plus{
	height:auto;
    width:40px;
    display: inline;
   
   
	
}




#para-google{
    font-family: sans-serif;
    font-size: 13px;
    color: lightslategray;
    letter-spacing: 1px;
	line-height: 1.5;
    font-weight: 600px;
    text-align: justify;
    width: 251px;
    padding: 10px 44px 10px 44px;
  
   
}

/******************** section-banner************** */


.left-area-banner{
    width: 55%;
    float: left;
}
.right-area-banner{
    width: 45%;
    float: left;
}

.sec-baner{
    display:flex;
    background-color: #f1f1f1;
}

 
#banner-one{
    height:auto;
    width:100%;
   
   
}



#heading-letsmake{
	font-size:36px;
	color:#000000;
	padding-top: 130PX;
	padding-left: 150px;
	font-family: Arial, Helvetica, sans-serif;
	
}

#line-letsmake{
	width:38px;
	border:2px solid #ffbb00;
	margin-top:40px;
	margin-bottom: 30px;
	margin-left: 150px;
	margin-right: 100px;
}


#para-letsmake{
	font-family:Arial, Helvetica, sans-serif;
	justify-content: center;                                                     
	text-align: justify;
    padding-top: 40PX;
    padding-bottom: 40px;
	margin-left: 150px;
	margin-right: 150px;
	font-size:14px;
	color:gray;
	letter-spacing: 2px;
	line-height: 1.8;
	font-weight: 600px;
	width:300px;
} 




.portfolio{
    background-color:  white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 5px 40px; */
}

h1{
    font-size: 30px;
    font-family: sans-serif; 
}

#portfolio-hr{
    border: 2px solid #F6B813;
    width: 42px;
    margin-left: -1px;

}


 .portfolio ul{
    margin: 0;
    padding: 0;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
  

}

 .portfolio ul li{
    list-style-type: none;
    display: inline-block;
}
.portfolio ul li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 12px 5px 12px 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10;
    font-weight: 600;
    color:gray;
   
}

/* unvisited link */
.portfolio ul li a:hover {
    color: green;
  }


/**************** section-boxes********** */

  .item-1{
	border:5px solid white;
	height:318px;
	width:318px;
	float:left;
    background-color: #f0f0f0;
}


/********** viewport******** */

.sec-viewport{
    background-color: #f1f1f1;

}
button{
    height:50px; 
    text-align:center;
    margin-left: 390px;
    margin-right: 390px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:gray;
    border:0px solid gray;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 20px;
    }
    
    button:hover{
        background-color: #f1f1f1;
        color:black;
    }