
body {
	background-color: #0000;
	margin:0;
	padding: 0;
}

/**********************START-NAVIGATION-BAR*********************************-----*/
.SECTION-ONE {
	width:100%;
}

.nav-bar {
	border:none;
	height:25px;
	width:100%; 
}

#log-img {
	height:100%;
	width:25px;
	padding-left: 15px;
	float:left;
	padding-top: 14px;
	
}

.navigation-list {
	float:right;
	text-align: center;
	padding-bottom:10px;
}

#ol-about{
	margin-right:30px;
	list-style-type:none;
	float:right;
}

#li-about{
	margin-right:30px;
	list-style-type:none;
	float:left;
}

a{
	text-decoration:none;
	color:gray;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	
}

/**************END-NAVIGATION-BAR*******************************/



/************START-IMAGE-SECTION************************************/
.SECTION-TWO{
	width:100%;
}

#img-2{
	width:100%;
	height: auto;
}

/***********************END-IMAGE-SECTION****************/


/***********************START-ABOUTUS-SECTION*********************************/
.SECTION-THIRD {
	width:100%;
	height:400px;
	background-color:#f0f0f0; 
}

.sec-1 {
	height:100%;
	width:40%;
	float: left;
}
#aboutus
{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 36px;
	padding-top: 140px;
	margin-right: 40px;
}

#aboutus-line
{
	width:38px;
	border:2px solid #ffbb00;
	background-color:#ffbb00;
	margin-left:140px;
	margin-right: 140px;
	margin-top:-20px;
	margin-bottom:-20px;
}
.sec-2 {
	height:100%;
	width:60%;
	float: right;
}

#para-aboutus
{
	font-family:Arial, Helvetica, sans-serif;
	padding-top: 170px;
	padding-left:20px;
	justify-content: center;                                                     
	text-align: justify;
	justify-content: center;
	height:200px;
	width:550px;
	font-size:12px;
	color:gray;
	letter-spacing: 2px;
	line-height: 1.8;
	font-weight: 600px;
}






/*************************START-OUREXPERITISE-SECTION***********************/
.SECTION-FOUR{
	width:100%;
	height:500px;
}

.sec-3{
	border:0px solid black;
	height:100%;
	width:40%;
	float:left;
}

#Experitise{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 36px;
	padding-top: 100px;
	margin-left: 40px;
}


#experities-line{
	width:38px;
	border:2px solid #ffbb00;
	background-color: #ffbb00;
	margin-top:-20px;
	margin-left:140px;
	margin-right: 140px;
}


progress{
	height: .3em;
	width: 400px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	padding-left:140px;
	
	
}


small{
	padding-left:140px;
	font-family:Arial, Helvetica, sans-serif;
	color:gray;
	font-size: 12px;
}

progress:after{
	content: attr(data-label);
	font-size: 0.8em;
	vertical-align: 0; 
	padding-left: 190px;
	
}


.sec-4{
	height: 100%;
	width: 60%;
	float:left;
}

#para-experities{
	font-family:Arial, Helvetica, sans-serif;
	padding-top: 200px;
	padding-left:20px;
	justify-content: center;                                                     
	text-align: justify;
	justify-content: center;
	height:200px;
	width:550px;
	font-size:12px;
	color:gray;
	letter-spacing: 2px;
	line-height: 1.8;
	font-weight: 600px;
}





/**************************START-GOOGLEPLUS-SECTION**********************************/
.SECTION-FIVE{
	width:100%;
	height:325px;
}
.sec-5{

	height:100%;
	width:33.33%;
	float:left;
	/* background-color: rgb(0, 255, 13); */
}

.sec-6{

	height:100%;
	width:33.33%;
	float:left;
	/* background-color: aqua; */
}

.sec-7{

	height:100%;
	width:33.33%;
	float:left;
	/* background-color: rgb(166, 255, 0); */
}

#google-plus{
	height:40px;
	width:40px;
	padding-bottom:95px;
	padding-top:95px;
	padding-right: 5px;
	padding-left: 5PX;
	margin-left: 60px;
	float:left;
}

#heading-graphics{
	padding-top:80px ;
	font-family:Arial, Helvetica, sans-serif;
	color:gray;
	font-size: 14PX;
	
	
}

#para-google{
	font-family:Arial, Helvetica, sans-serif;
	padding-right: 0px;                                                    
	text-align: justify;
	justify-content: center;
	font-size:12px;
	color:gray;
	letter-spacing: 1px;
	line-height: 1.4;
	font-weight: 600px;
	width:340px;
}





/*******************START-LET'S-MAKE-SECTION*****************************/
.SECTION-SIX{
	width:100%;
	height:618px;
	
	
}

.sec-8{
	height:100%;
	width:50%;
	float:left;
	background-color:#f0f0f0; 
}

#sec-6-img{
	/* height:auto; */
	width:100%;
}


.sec-letsmake{
	width:50%;
	float:left;
	height:100%;
	background-color:#f0f0f0;
}

#heading-letsmake{
	font-size:36px;
	color:#000000;
	padding-top: 130PX;
	padding-left: 80px;
	font-family: Arial, Helvetica, sans-serif;
	
}

#line-letsmake{
	width:38px;
	border:2px solid #ffbb00;
	margin-top:40px;
	margin-bottom: 30px;
	margin-left: 80px;
	margin-right: 80px;
}


#para-letsmake{
	font-family:Arial, Helvetica, sans-serif;
	justify-content: center;                                                     
	text-align: justify;
	padding-top: 40PX;
	margin-left: 80px;
	margin-right: 80px;
	font-size:12px;
	color:gray;
	letter-spacing: 2px;
	line-height: 1.8;
	font-weight: 600px;
	width:62%;
}




/*******************START-PORTFOLIO-SECTION**********************/
.SECTION-SEVEN{
	height:250px;
	width:100%;
}


.sec-9{
	height:100%;
	width:40%;
	float:left;
	
}

#heading-portfolio{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 36px;
	padding-top: 80px;
	margin-right:35px;
	text-align:center;
	
}
#line-portfolio{
	width:38px;
	border:2px solid #ffbb00;
	margin-top:-20px;
	margin-left:150px;
	margin-right: 150px;
	background-color: #ffbb00;
}


.sec-10{
	border:0px solid black;
	height:100%;
	width:60%;
	float:left;
}

.list-portfolio{
	float:right;
	text-decoration: none;
	margin-top: 100px;
	padding-right: 10px;
	margin-right:150px;
	
}

#ul-portfolio{
	float:left;
	text-align:center;
	list-style-type: none;
}


#li-portfolio{
	float:left;
	text-align:center;
	list-style-type: none;
}

a{
	text-decoration: none;
	color:gray;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 14px;
	
}




/***********START-BOXES-SECTION**********************************/
.SECTION-EIGHT{
	width:100%;
	height:600px;

	
	
}


.item-1{
	border:5px solid white;
	height:280px;
	width:280px;
	float:left;
	padding-left:0px;
	padding-right: 0px;
	margin-left:7px;
	margin-right: 0px;
	margin-top: 10px;
	background-color: #f0f0f0;
}







/**************START-VIEWMORE-SECTION**********************************/
.SECTION-NINE{
	width:100%;
	height:120px;
	background-color: #f0f0f0;
	
	
}

#heading-viewmore{
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#d4cfcd;
	margin-left: auto;
	margin-right: auto;
    padding-top: 50px;
	padding-bottom: 50px; 
	font-weight:100pX;
}




/***********************START-PARAGRAPH-SECTION***************************************/
.SECTION-TEN{
	width:100%;
	height:370px;

}

#para-sec-ten{
	font-family:Arial, Helvetica, sans-serif;
	color:gray;
	text-align: center;
	letter-spacing: 2px;
	line-height: 1.8;
	font-weight: 600px;
	width:50%;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 135px;
	padding-bottom: 135px;
	font-size: 12px;
}



#barry-allen{
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	color:gray;
	/* padding-top: -280px; */
	margin-top:-60px;
	width:100%;
	font-size:15px;
	
	
}
/**************************START-IMAGE-SECTION*****************************/
.SECTION-ELEVEN{
	width:100%;
	height: fit-content;
}

#sec-11-img{
	height:auto;
	width:100%;
}


/*********************START-NUMBAR-SECTION*****************************/

.SECTION-TWELVE{
	width:100%;
	height:350px;
	
}


.list-number{
	float:left;
	text-decoration: none;
	margin-top: 70px;
	text-align:center;
	
	
}

#ul-num{
	float:left;
	text-align:center;
	list-style-type: none;
	font-size:50px;
	padding-left:120px;
	font-family:cursive;
	
}

#li-num{
	float:left;
	text-align:center;
	list-style-type: none;
	font-size:45px;
	padding-left:130px;
	font-family:  sans-serif,Comic Sans MS;
}

#web{
	font-size:12px;
	font-family: sans-serif;
	color:#0e5beb;
	padding-top:-40px;
}



/******************************START-IMAGE-SECTION************************************/
.SECTION-THIRTEEN{
	width:100%;
	height:fit-content;
}
#sec-13-img{
	width:100%;
	height:auto;
}




/*******************************START-OURTEAM-SECTION********************************/
.SECTION-FOURTEEN{
	width:100%;
	height:700px;

}

#heading-ourteam{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 36px;
	padding-top: 100px;
	padding-left: 150PX;
}


#line-ourteam{
	width:38px;
	border:2px solid #ffbb00;
	margin-top:-20px;
	margin-left: 155px;
	margin-right: 155px;
	background-color: #ffbb00 ;
}


.sec-user{
	margin-left:150px;
	margin-right: 150px;
	padding-top: 80px;
	padding-bottom: 80px;
}


#user-1{
	height:280px;
	width:280PX;
	float:left;
	padding-left: 10px;
}



#user-img{
	height:100%;
	width:100%;
}

#barry-1{
	padding-left: 100PX;
	padding-right: 100PX;
	font-family:Arial, Helvetica, sans-serif; 
	color: gray;
	padding-top:20px;
	
}

#CEO{
	padding-left: 120PX;
	padding-right: 120PX;
	padding-top: -35px;
	font-family:Arial, Helvetica, sans-serif; 
	color: lightgray;
}








/*********************START-PRICING-SECTION*******************************/
.SECTION-FIFTEEN{
	width:100%;
	height:910px;
	border:0px solid black;
	background-color:#f0f0f0; 
}

#heading-pricing{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 36px;
	padding-top: 100px;
	padding-left: 155PX;
	
}


#line-pricing{
	width:36px;
	border:2px solid #ffbb00;
	margin-top:-20px;
	margin-left: 155px;
	margin-right: 155px;
}


.pricing-card{
	margin-left:180px;
	margin-right: 180px;
	padding-top: 90px;
	padding-bottom: 50px;
}


#card-1{
	height:500px;
	width:250px;
	border:none;
	float:left;
	margin-left:15px;
	border-radius: 1px;
	background-color: white;
	
}

h5{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px;
	padding-left: 20px;
}

#doller{
	font-size:20px;
	
}

#num{
	font-size:50px;
	font-family:Arial, Helvetica, sans-serif; 
}

#month{
	font-size:14px;
	color:gray;
	font-family:Arial, Helvetica, sans-serif; 
}

.h-1{
	padding-left: 90px;
}


table{
	padding-left: 90px;
	padding-top: 100PX;
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 12px;
	
}


tr,td{
	
	padding-top: 20px;
	color:gray;
}


h4{
	padding-left: 80px;
	padding-top: 60px;
	font-family:Arial, Helvetica, sans-serif; 
	color:#302e2e;
	font-size: 14px;
}




/******************START-GET-IN-TOUCH-SECTION**************************************************/

.SECTION-SIXTEEN {
	width:100%;
	height:700px;
}


.sec-getintouch-1{
	border:0px solid black;
	height:100%;
	width:55%;
	float:left;
	
}


.sec-getintouch-2{
	border:0px solid black;
	height:100%;
	width:45%;
	float:right;
	background-color:white; 
}



#heading-getintouch{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 36px;
	padding-top: 100px;
	padding-left: 155PX;
	
}

#line-getintouch{
	width:38px;
	border:2px solid #ffbb00;
	margin-top:-20px;
	margin-bottom:20px;
	margin-left: 155px;
	margin-right: 155px;
}

.login{
	border: 0px solid black;
	height:400px;
	width:400px;
	margin-left: 155px;
	padding-top: 50px;
}


.placeholder{
	color:#E6E3E3;
	
}


input{
	width: 100%;
	padding: 15px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid black;
	color:#E6E3E3;
}

textarea{
	width: 100%;
	padding: 70px 20px;
	margin: 8px 0PX;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid black;
}


button{
	background-color: black;
	color:white;
	border:1px solid black;
	height:28px;
	width:200px;
	font-size: 11px;
}


#sec-16-img{
	height:100%;
	width:100%;
}





/************************STRAT-FOOTER-SECTION********************/
.SECTION-SEVENTEEN{
	border:0px solid red;
	height:550px;
	width:100%;
	background-color: #333131;
}

#img-footer{
	height:80px;
	width:80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 60px;
	
}


#line-footer{
	width:190px;
	border:2px solid #ffbb00;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
	
	
}

.list-footer-1{
	
	float:left;
	margin-top:110px; 
	padding-left:350px;
	
	
	
}

#l-footer,li{
	font-family: "Times New Roman", Times, serif;
	list-style-type: none;
	float:left;
	
	
}


.list-footer-2{
	color:gray;
	

	
}

#l-footer-add{
	font-family: "Times New Roman", Times, serif;
	list-style-type: none;
	padding-top:190px;  
	margin-left: 450px;  
	
}

.number{
	text-align: center;
	font-family:"Times New Roman", Times, serif;
	font-size: 14px;
	color:gray; 
	padding-top:50px;
}

.email{
	text-align: center;
	color:gray;
	font-size: 14;
	font-family:"Times New Roman", Times, serif;
	padding-top: 10px; 
}





/*********STRAT-SECTION-EIGHTEEN******************************************/
.SECTION-EIGHTEEN{
	border:0px solid red;
	height:120px;
	width:100%;
	background-color: #251E1E ;	
}

.mytheam{
	text-align: center;
	color:gray ;
	padding-top: 50px;
	font-family:Arial, Helvetica, sans-serif;
}


/***************************************************END*****************************************************/




/***************************************using meadia query*********************************************/
/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}


/***************************strat to media query*************/
